<div class="home" id="home-container">
    <div class="home-description-container col-sm-6 card">
        <div class="home-description">
            <h3>{{ 'home.title' | translate}}</h3>
            <p translate="home.description_1"></p>
            <p translate="home.description_2"></p>
        </div>
    </div>
    <!-- Dinero recaudado -->
    <div class="money section col-sm-6 card" id="pledged">
        <areachart areachart-id="pledged"
                   areachart-title="{{ 'money.sections.pledged.title' | translate }}"
                   areachart-description="{{ 'money.sections.pledged.description' | translate }}"
                   areachart-x-field="name"
                   areachart-x-field="value"
                   areachart-id-field="id"
                   areachart-label-field="id"
                   areachart-x-format="%Y"
                   areachart-is-year="true"
                   areachart-cumul="{{ data.pledged.year }}"
                   areachart-unit="€"
                   areachart-data="{{ data.pledged.months }}" />
    </div>
    <!-- Media de dinero recaudado -->
    <div class="money section col-sm-6 card" id="average-donation">
        <areachart areachart-id="average-donation"
                   areachart-title="{{ 'money.sections.average-donation.title' | translate }}"
                   areachart-description="{{ 'money.sections.average-donation.description' | translate }}"
                   areachart-x-field="name"
                   areachart-x-field="value"
                   areachart-id-field="id"
                   areachart-label-field="id"
                   areachart-x-format="%Y"
                   areachart-is-year="true"
                   areachart-cumul="{{ data.averageDonation.year }}"
                   areachart-unit="€"
                   areachart-data="{{ data.averageDonation.months }}" />
    </div>
    <!-- Dinero captado -->
    <!--
    <div class="money section col-sm-6 card" id="matchfund-amount">
        <areachart areachart-id="matchfund-amount"
                   areachart-title="{{ 'money.sections.matchfund-amount.title' | translate }}"
                   areachart-description="{{ 'money.sections.matchfund-amount.description' | translate }}"
                   areachart-x-field="name"
                   areachart-x-field="value"
                   areachart-id-field="id"
                   areachart-label-field="id"
                   areachart-x-format="%Y"
                   areachart-is-year="true"
                   areachart-cumul="{{ data.matchfundAmount.year }}"
                   areachart-unit="€"
                   areachart-data="{{ data.matchfundAmount.months }}" />
    -->
    <!-- Dinero captado -->
    <div class="money section col-sm-6 card" id="matchfund-amount">
        <piechart piechart-id="matchfund-amount"
                   piechart-title="{{ 'money.sections.matchfund-amount.title' | translate }}"
                   piechart-description="{{ 'money.sections.matchfund-amount.description' | translate }}"
                   piechart-value-format=".2%"
                   piechart-cumul="{{ data.matchfundAmount.year }}"
                   piechart-unit="€"
                   piechart-is-percentage="false"
                   piechart-data="{{ data.matchfundAmount.months }}" />
    </div>
    <!-- Categorías -->
    <div class="community section col-sm-6 card" id="categories">
        <piechart-select piechart-select-id="categories"
                         piechart-select-title="{{ 'community.sections.categories.title' | translate }}"
                         piechart-select-description="{{ 'community.sections.categories.description' | translate }}"
                         piechart-select-select-field="select"
                         piechart-select-id-field="id"
                         piechart-select-value-field="users"
                         piechart-select-label-field="name"
                         piechart-select-is-percentage="false"
                         piechart-select-data="{{ data.categories }}"/>
    </div>
    <!-- Proyectos exitosos -->
    <div class="projects section col-sm-6 card" id="successful">
        <barchart barchart-id="successful"
                  barchart-title="{{ 'projects.sections.successful.title' | translate }}"
                  barchart-description="{{ 'projects.sections.successful.description' | translate }}"
                  barchart-label-format="%Y"
                  barchart-number-format=".2%"
                  barchart-cumul="{{ data.successful.year }}"
                  barchart-data="{{ data.successful.months }}" />
    </div>
    <!-- Proyectos recibidos -->
    <div class="projects section col-sm-6 card" id="received">
        <barchart barchart-id="received"
                  barchart-title="{{ 'projects.sections.received.title' | translate }}"
                  barchart-description="{{ 'projects.sections.received.description' | translate }}"
                  barchart-label-format="%Y"
                  barchart-cumul="{{ data.received.year }}"
                  barchart-data="{{ data.received.months }}" />
    </div>
    <!-- Proyectos publicados -->
    <div class="projects section col-sm-6 card" id="published">
        <barchart barchart-id="published"
                  barchart-title="{{ 'projects.sections.published.title' | translate }}"
                  barchart-description="{{ 'projects.sections.published.description' | translate }}"
                  barchart-label-format="%Y"
                  barchart-cumul="{{ data.published.year }}"
                  barchart-data="{{ data.published.months }}" />
    </div>
    <!-- Top colaboraciones -->
    <div class="projects section col-sm-6 card" id="top10-collaborations">
        <ranking ranking-id="top10-collaborations-ranking"
                 ranking-title="{{ 'projects.sections.top10-collaborations.title' | translate }}"
                 ranking-description="{{ 'projects.sections.top10-collaborations.description' | translate }}"
                 ranking-name-field="name"
                 ranking-value-field="total"
                 ranking-url-field="project-url"
                 ranking-display-photo="true"
                 ranking-photo-field="image-url"
                 ranking-show-value="false"
                 ranking-data="{{ data.top10Collaborations }}" />
    </div>
    <!-- Top donaciones -->
    <div class="projects section col-sm-6 card" id="top10-donations">
        <ranking ranking-id="top10-donations-ranking"
                 ranking-title="{{ 'projects.sections.top10-donations.title' | translate }}"
                 ranking-description="{{ 'projects.sections.top10-donations.description' | translate }}"
                 ranking-name-field="name"
                 ranking-value-field="total"
                 ranking-url-field="project-url"
                 ranking-display-photo="true"
                 ranking-photo-field="image-url"
                 ranking-show-value="false"
                 ranking-data="{{ data.top10Donations }}" />
    </div>
    <!-- Favorite rewards -->
    <div class="rewards section col-sm-6 card" id="favorite-rewards">
        <piechart-select piechart-select-id="favorite-rewards"
                         piechart-select-title="{{ 'rewards.sections.favorite-rewards.title' | translate }}"
                         piechart-select-description="{{ 'rewards.sections.favorite-rewards.description' | translate }}"
                         piechart-select-select-field="select"
                         piechart-select-id-field="icon"
                         piechart-select-value-field="total"
                         piechart-select-label-field="label"
                         piechart-select-is-percentage="false"
                         piechart-select-data="{{ data.favoriteRewards }}" />
    </div>
</div>