<div class="rewards" id="rewards-container">
    <div class="section col-sm-6 card" id="favorite-rewards">
        <piechart-select piechart-select-id="favorite-rewards"
                         piechart-select-title="{{ 'rewards.sections.favorite-rewards.title' | translate }}"
                         piechart-select-description="{{ 'rewards.sections.favorite-rewards.description' | translate }}"
                         piechart-select-select-field="select"
                         piechart-select-id-field="icon"
                         piechart-select-value-field="total"
                         piechart-select-label-field="label"
                         piechart-select-is-percentage="false"
                         piechart-select-data="{{ data.favoriteRewards }}" />
    </div>
    <div class="section col-sm-6 card" id="rewards-per-amount">
        <piechart-select piechart-select-id="rewards-per-amount"
                         piechart-select-title="{{ 'rewards.sections.rewards-per-amount.title' | translate }}"
                         piechart-select-description="{{ 'rewards.sections.rewards-per-amount.description' | translate }}"
                         piechart-select-select-field="select"
                         piechart-select-id-field="id"
                         piechart-select-value-field="value"
                         piechart-select-label-field="name"
                         piechart-select-is-percentage="false"
                         piechart-select-data="{{ data.rewardsPerAmount }}" />
    </div>
    <div class="section col-sm-6 card" id="reward-refusal">
        <areachart areachart-id="reward-refusal"
                   areachart-title="{{ 'rewards.sections.reward-refusal.title' | translate }}"
                   areachart-description="{{ 'rewards.sections.reward-refusal.description' | translate }}"
                   areachart-x-field="name"
                   areachart-x-field="value"
                   areachart-id-field="id"
                   areachart-label-field="id"
                   areachart-unit="%"
                   areachart-cumul="{{ data.rewardRefusal.year }}"
                   areachart-data="{{ data.rewardRefusal.months }}" />
    </div>
    <div class="section col-sm-6 card" id="licenses">
        <ranking ranking-id="licenses-ranking"
                 ranking-title="{{ 'rewards.sections.licenses.title' | translate }}"
                 ranking-description="{{ 'rewards.sections.licenses.description' | translate }}"
                 ranking-name-field="name"
                 ranking-value-field="total"
                 ranking-url-field="url"
                 ranking-display-photo="true"
                 ranking-photo-field="svg-url"
                 ranking-unit="%"
                 ranking-data="{{ data.licenses }}" />
    </div>
</div>