<div class="rewards">
    <div class="section col-sm-6" id="favorite-rewards">
        <piechart piechart-id="favorite-rewards"
                  piechart-title="{{ 'rewards.sections.favorite-rewards.title' | translate }}"
                  piechart-description="{{ 'rewards.sections.favorite-rewards.description' | translate }}"
                  piechart-id-field="icon"
                  piechart-label-field="icon"
                  piechart-value-field="total"
                  piechart-is-percentage="false"
                  piechart-data="{{ data.favoriteRewards }}" />
    </div>
</div>